<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Good</th>
      <th>Goodnum</th>
      <th>Price</th>
      <th>Time</th>
      <th>Addressid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.UserId %></td>
        <td><%= order.good %></td>
        <td><%= order.goodnum %></td>
        <td><%= order.price %></td>
        <td><%= order.time %></td>
        <td><%= order.AddressId %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
