<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @order.UserId %>
</p>

<p>
  <strong>Good:</strong>
  <%= @order.good %>
</p>

<p>
  <strong>Goodnum:</strong>
  <%= @order.goodnum %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Time:</strong>
  <%= @order.time %>
</p>

<p>
  <strong>Addressid:</strong>
  <%= @order.AddressId %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
